html {
  font-family: sans-serif;
}

header,
footer,
.hero {
  background-color: #1f2937;
  color: #f9faf8;
}

#nav {
  display: flex;
  justify-content: space-between;
}

#nav * {
  flex: 1;
}

#nav #logo {
  font-size: 24px;
  color: #f9faf8;
}

#nav a {
  font-size: 18px;
  color: #e5e7eb;
}

.hero {
  text-align: center;
}

.hero h1 {
  font-size: 48px;
  font-weight: 800;
  color: #f9faf8;
}

.hero img {
  height: 50px;
  width: 50px;
}

.quote {
  background-color: #e5e7eb;
  color: #1f2937;
  padding: 30px;
  font-style: italic;
  font-weight: 300;
  font-size: 36px;
  text-align: center;
}

#cta,
button {
  background-color: #3882f6;
  color: white;
}

footer {
  text-align: center;
}
